
body {
    background-color: black;
    padding-left: 1%;
    padding-right: 1%;
}

.main-container {
    display: grid;
    height: 96vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav test-1 test-2 test-3"
    "nav nav nav test-1 test-2 test-4"
    "nav nav nav test-5 test-6 test-7"
    "nav nav nav test-5 test-6 test-8"
    "test-9 test-9 test-9 test-11 test-10 test-14"
    "test-9 test-9 test-9 test-12 test-10 test-14"
    "test-9 test-9 test-9 test-13 test-13 test-13";
    grid-gap: 1%;
}


.nav {
    grid-area: nav;
    background-color: aqua;
    border-radius: 12px;
}

.test-1{
    grid-area: test-1;
    background-color: bisque;
    border-radius: 12px;
}

.test-2{
    grid-area: test-2;
    background-color: bisque;
    border-radius: 12px;
}

.test-3{
    grid-area: test-3;
    background-color: bisque;
    border-radius: 12px;
}

.test-4{
    grid-area: test-4;
    background-color: bisque;
    border-radius: 12px;
}

.test-5{
    grid-area: test-5;
    background-color: bisque;
    border-radius: 12px;
}
.test-6{
    grid-area: test-6;
    background-color: bisque;
    border-radius: 12px;
}
.test-7{
    grid-area: test-7;
    background-color: bisque;
    border-radius: 12px;
}
.test-8{
    grid-area: test-8;
    background-color: bisque;
    border-radius: 12px;
}
.test-9{
    grid-area: test-9;
    background-color: bisque;
    border-radius: 12px;
}
.test-10{
    grid-area: test-10;
    background-color: bisque;
    border-radius: 12px;
}
.test-11{
    grid-area: test-11;
    background-color: bisque;
    border-radius: 12px;
}
.test-12{
    grid-area: test-12;
    background-color: bisque;
    border-radius: 12px;
}
.test-13{
    grid-area: test-13;
    background-color: bisque;
    border-radius: 12px;
}
.test-14{
    grid-area: test-14;
    background-color: bisque;
    border-radius: 12px;
}


