
body {
    background-color: #101010;
}


.container {
    display: grid;
    height: 96vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 
    "nav nav"
    "sidebar sub-container"
    "footer sub-container";
    grid-gap: 2%;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%; 
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15% 27%;
}

.sidebar a {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 350;
   
}

.sidebar a:hover {
    background: linear-gradient(to left, #200A43, #272140);
    padding: 4% 4%;
    border-radius: 10px;
    font-weight: 600;
    padding-right: 19%;
    width: fit-content;
    transition: 0.2s;
}

.sidebar a:active {
    box-shadow: 0 0 0 2px rgb(189, 188, 188);
}

a.Account {
    background: linear-gradient(to left, #272140, #200A43);
    width:min-content;
    padding: 4% 4%;
    border-radius: 10px;
    font-weight: 550;
    padding-right: 19%;
}

.sub-container {
    grid-area: sub-container;
    display: grid;
    grid-template-rows: 5fr 5fr;
    grid-template-areas: 
    "nav nav"
    "settlement settlement";
    grid-gap: 5%;
    margin-bottom: 1%;
}

.nav-statement{
    grid-area: nav;
    padding-top: 1%;
    padding-left: 1%;
    background: linear-gradient(to right, #272140, #200A43);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settlement-statement{
    grid-area: settlement;
    padding-top: 1%;
    padding-left: 1%;
    background: linear-gradient(to right, #272140, #200A43);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo, .investment-title, 
.username, .heading, .balance, .settlement-statement, .nav-statement {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 1.5rem;
    text-decoration: none;
}

.logout-div a {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 350;
}

.logout-div a:hover {
    background: linear-gradient(to left, #200A43, #272140);
    border-radius: 10px;
    font-weight: 600;
    padding: 17% 17%;
    transition: 0.2s;

}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 27%;
}


.report-1-link{
    width: fit-content;
    background: linear-gradient(to right, #180F3D, #09070D);
    border-radius: 12px;
    font-size: 82%;
    font-weight: 350;
    padding: 0.5% 0.5%;
    display: flex;
    margin-right: 20%;
}

.report-1-link, .nav-statement a, .settlement-statement a {
    text-decoration: none;
    color: #dedede;
}

.sub-heads{
    font-size: 75%;
    font-weight: 300;
}

.shares, .with-balance, .avg-nav{
    border-radius: 20px;
    padding-bottom: 5%;
}

.shares:hover, .with-balance:hover, .avg-nav:hover{
    transition: 0.4s;
    background: linear-gradient(to right, #180F3D, #09070D);
    border-radius: 20px;
    padding: 5% 5%;
    transition-delay: 0.01s;
    font-weight: 525;
}

.report-1-link:hover {
    transition: 0.4s;
    background: linear-gradient(to left, #180F3D, #09070D);    
}

.total_shares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "shares with-balance avg-nav";
    grid-gap: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.shares{
    grid-area: shares;
    
}

.with-balance{
    grid-area: with-balance;
}

.avg-nav{
    grid-area: avg-nav;
}

.heading-1{
    font-size: 1.7rem;
    margin-top: -1.2%;
}
