
body {
    background-color: #101010;
}

.container {
    display: grid;
    height: 96vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 
    "nav nav"
    "sidebar chart"
    "footer chart";
    grid-gap: 2%;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%; 
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15% 27%;
}

.sidebar a {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 1.1vw;
    text-decoration: none;
    font-weight: 350;
   
}

.sidebar a:hover {
    background: linear-gradient(to left, #200A43, #272140);
    padding: 4% 4%;
    border-radius: 10px;
    font-weight: 600;
    padding-right: 19%;
    width: fit-content;
    transition: 0.2s;
}

.sidebar a:active {
    box-shadow: 0 0 0 2px rgb(189, 188, 188);
}

a.HedgeFund {
    background: linear-gradient(to left, #272140, #200A43);
    width: fit-content;
    padding: 3% 3%;
    border-radius: 10px;
    font-weight: 550;
    padding-right: 19%;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 27%;
}

.logo, .investment-title, 
.username, .heading, .balance, .settlement-statement, .nav-statement, .chart {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: rgb(222, 222, 222);
    font-size: 1.1vw;
    text-decoration: none;
}

.logout-div a {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 1.1vw;
    text-decoration: none;
    font-weight: 350;
}

.logout-div a:hover {
    background: linear-gradient(to left, #200A43, #272140);
    border-radius: 10px;
    font-weight: 600;
    padding: 17% 17%;
    transition: 0.2s;

}

.chart {
    grid-area: chart;
    background: linear-gradient(to left, #200A43, #272140);
    border-radius: 25px;
    margin-bottom: 4%;
    margin-right: 4%;
    padding-left: 2%;
    padding-top: 1%;
    font-size: 1.6vw;

}