.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 7rem;
    margin-right: 1rem;
}

nav ul li a {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 1.1vw;
    text-decoration: none;
    font-weight: 350;
}

nav ul li a:active {
    box-shadow: 0 0 0 2px rgb(189, 188, 188);
}

.links {
    margin-right: 8rem;
}

.content {
    position: relative;
    text-align: center;
    width: 80%; 
    height: 40%;
    margin: 0 auto; 
    padding: 5% 2%; 
    border-radius: 30px;
}
.content h1 {
    font-size: 2rem;
    color: #b33c3c;
    font-weight: 600;
}

.content a {
    text-decoration: none;
    display: inline-block;
}

.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.content h1 {
    font-family: "Sora", sans-serif;
    font-style: normal;
    color: #dedede;
    font-size: 5vw;
    text-decoration: none;
    font-weight: 350;
}
