/* Default styles */

body {
    background: linear-gradient(to left, #200A43, #272140)
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-title {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    color: #dedede;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: fit-content;
    border-radius: 24px;
    background: linear-gradient(to left, #14062b, #14121A);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 10%;
}

.form-group-username,
.form-group-password {
    font-family: "Sora", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding: 5% 5%;
}

label {
    display: block;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    color: #dedede;
    margin-bottom: 3%;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    border-radius: 5px;
    opacity: 70%;
    border: none;
    padding: 10px;
}

.error-message {
    color: red;
}

.welcome {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    color: #dedede;
    font-size: 300%;
}

.back {
    display: flex;
    justify-content: flex-end;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.alert {
    padding: 10px;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.alert-success {
    background-color: #155724;
    border-color: #f5c6cb;
    color: #dedede;
    font-family: "Sora", sans-serif;
    font-weight: 250;
}

.alert-danger {
    background-color: #740808;
    border-color: #f5c6cb;
    color: #dedede;
    font-family: "Sora", sans-serif;
    font-weight: 250;
}

.logo {
    width: 20%;
    position: absolute;
    left: 40%;
    top : -5%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.submit-button {
    background: linear-gradient(to right, #3d0f0f, #0d0707);
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 0.95rem;
    color: #dedede;
    border: none;
    padding: 30% 260%;
    border-radius: 9px;
    cursor: pointer;
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 20%;
}

/* Hover effect */
.submit-button:hover {
    background: linear-gradient(to left, #3d0f0f, #0d0707);
    transition: 0.2s;
}

/* Active/focus effect */
.submit-button:active,
.submit-button:focus {
    outline: none;
    background-color: #350101;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.299);
}

.welcome-cont{
    margin-right: 10%;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%; 
    }
}
