    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Client Update</title>
    </head>
    <body>
        <h2> This is Client Update Page </h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.date.label }} {{ form.date()}}
            </div>
            <div>
                {{ form.client.label }} {{ form.client()}}
            </div>
            <div>
                {{ form.particular.label }} {{ form.particular() }}
            </div>
            <div>
                {{ form.type.label }} {{ form.type() }}
            </div>
            <div>
                {{ form.debit.label }} {{ form.debit(size=10) }}
            </div>
            <div>
                {{ form.credit.label }} {{ form.credit(size=10) }}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </body>
    </html>
