<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class = "container">
      <video autoplay loop muted plays-inline class = "back-video">
        <source src={{ url_for('static', filename="wave5.mp4") }} type="video/mp4">
      </video>
      <nav>
        <div class = "links"></div>
        <ul>
          <li><a href = "/login">LogIn</a></li>
          <li><a href = "/signup">SignUp</a></li>
          <li><a href = "/">Back Office</a></li>
        </ul>
      </nav>
      <div class = "content">
        <h1>Rouge Capital Management</h1>
      </div>
    </div>
  </body>
</html>
