<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='markets.css') }}">
    <title>Stacked Horizontal Bar Chart Example</title>
  </head>
  <body>
    <div class = "container">
      <div class="line">{{ line | safe }}</div>
      <div class="bar">{{ bar | safe }}</div>
      <div class="box">{{ box | safe }}</div>
      <div class="hist">{{ hist | safe }}</div>
      <div class="vio">{{ vio | safe }}</div>
      <div class="pie">{{ pie | safe }}</div>
    </div>
  </body>
</html>
