<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='portfolio.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <nav>
        <a href="/" class="logo">
          Zingade <br />
          Holdings
        </a>
        <p class="investment-title">
          Investment <br />
          Dashboard
        </p>
        <a href="/dashboard/Account" class="username"> {{user_account}} </a>
      </nav>

      <div class="sidebar">
        <a href="/dashboard/portfolio" class="portfolio">Portfolio</a>
        <a href="/dashboard//HedgeFund" class="HedgeFund">Hedge Fund</a>
        <a href="/dashboard/transactions" id="Transactions" class="Transactions"
          >Transactions</a
        >
        <a href="/dashboard/InvestorRelations" class="News">Disclosures</a>
        <a href="/dashboard/Account" class="Account">Account </a>
        <a href="/dashboard/Markets" class="settings">Markets</a>
      </div>

      <div class="sub-container">
        <div class="overview-container">
          <div class="container-headings-1">Overview</div>
          <div class="overview-info">
            <a href="/" class="total-invested">
              <span class="sub-heads"> Total Invested </span><br />
              <span style="font-size: 175%">
                ₹ {{ total_invested_formatted }}</span
              >
            </a>
            <a href="/" class="total-profit">
              {% if total_profit >= 0 %}
              <span class="sub-heads"> Total Profit </span><br />
              <span style="font-size: 175%" class="profit">
                ₹ {{ total_profit_formatted}}
              </span>
              {% else %}
              <span class="sub-heads"> Total Loss </span><br />
              <span style="font-size: 175%" class="loss">
                ₹ {{ total_profit_formatted }}
              </span>
              {% endif %}
            </a>
            <a href="/" class="total-return">
              <span class="sub-heads"> Total Return </span><br />
              <span style="font-size: 175%">
                {{ total_return_formatted }} %
              </span>
            </a>
          </div>
          <div class="time-stamps">
            <a class="time-stamps-links" href="/a"> Select Time Frame </a>
          </div>
        </div>
        <div class="value-container">
          <div class="container-headings-2">Value</div>
          <canvas id="bar-chart"></canvas>
        </div>
        <div class="invested-container">
          <div class="container-headings-2">Random</div>
          <a href="/" class="invested-invested"></a>
        </div>
      </div>

      <div class="footer">
        <div class="logout-div">
          <a href="/" class="logout"> LogOut </a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script>
      var ctx = document.getElementById("bar-chart").getContext("2d");
      var gradient1 = ctx.createLinearGradient(400, 0, 400, 400);
      gradient1.addColorStop(0, "rgb(175,162,45)");
      gradient1.addColorStop(1, "rgb(223,171,110)");

      var gradient2 = ctx.createLinearGradient(0, 0, 0, 400);
      gradient2.addColorStop(0, "rgb(52,194,100)");
      gradient2.addColorStop(1, "rgb(64,154,94)");

      var data = {
        labels: [""],
        datasets: [
          {
            label: "Invested",
            data: [100],
            backgroundColor: gradient1,
            borderColor: gradient1,
            borderWidth: 1,
            barThickness: 110,
          },
          {
            label: "Profit",
            data: [100],
            backgroundColor: gradient2,
            borderColor: gradient2,
            borderWidth: 1,
            barThickness: 110,
          },
        ],
      };
      var options = {
        indexAxis: "y",
        responsive: true,
        plugins: {
          legend: {
            display: false,
          },
          title: {
            display: false,
          },
          datalabels: {
            anchor: "end",
            align: "end",
            color: "black",
            font: {
              weight: "bold",
            },
            formatter: function (value) {
              return value;
            },
          },
        },
        scales: {
          x: {
            stacked: true,
            display: false,
          },
          y: {
            stacked: true,
          },
        },
      };

      var myChart = new Chart(ctx, {
        type: "bar",
        data: data,
        options: options,
      });
    </script>
  </body>
</html>
