
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='transactions.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <script src = "/jscode/transactions.js"> </script>
</head>
<body>
    <div class = "container">
        <nav> 
            <a href = "/" class = "logo"> Zingade <br> Holdings </a> 
            <p class = "investment-title"> Investment <br> Dashboard </p>
            <a href = "/account" class = "username"> {{username_trans}} </a>
        </nav>
        <div class = "heading">
            Account with Rouge Capital Management
        </div>
        <div class = "sidebar"> 
            <a href = "/dashboard/portfolio" class = "portfolio">Portfolio</a>
            <a href = "/dashboard//HedgeFund" class = "HedgeFund">Hedge Fund</a>
            <a href="/dashboard/transactions" id="Transactions" class="Transactions">Transactions</a>
            <a href = "/dashboard/InvestorRelations" class = "News">Disclosures</a>
            <a href = "/dashboard/Account" class = "Account">Account </a>
            <a href = "/dashboard/settings" class = "settings">Settings</a>
        </div>
        <div class = "scroll-table">
            <table id = "myTable">
                <thead>
                    <tr>
                        <th>Date </th>
                        <th>Client</th>
                        <th>Particular</th>
                        <th>Type</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date }} </td>
                        <td>{{ transaction.client }}</td>
                        <td>{{ transaction.particular }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.debit }}</td>
                        <td>{{ transaction.credit }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class = "footer"> 
                <div class = "logout-div">
                    <a href = "/" class = "logout"> LogOut </a>
                </div>
                <div class = "balance">
                    Running Balance: ₹ {{net_balance}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
