<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily NAV Chart</title>
    <link rel="stylesheet" href="static/index.css" />
</head>
<body>
    <div class = "main-container">
        <div class = "nav">
            
        </div>
        <div class = "test-1">

        </div>
        <div class = "test-2">
            
        </div>
        <div class = "test-3">
            
        </div>
        <div class = "test-4">
            
        </div>
        <div class = "test-5">
            
        </div>
        <div class = "test-6">
            
        </div>
        <div class = "test-7">
            
        </div>
        <div class = "test-8">
            
        </div>
        <div class = "test-9">
            
        </div>
        <div class = "test-10">
            
        </div>
        <div class = "test-11">
            
        </div>
        <div class = "test-12">
            
        </div>
        <div class = "test-13">
            
        </div>
        <div class = "test-14">
            
        </div>
    </div>
</body>
</html>
